---
import type { GetStaticPaths } from "astro";
import { getImage } from "astro:assets";
import { render } from "astro:content";
import { getCollection } from "astro:content";
import { FormattedDate } from "~/components/FormattedDate";
import BlogLayout from "~/layouts/BlogLayout.astro";
import { IMAGE_SIZES } from "~/types/sizes";
import { getDataEntry } from "~/utils/getDataEntry";
import { getPostByPath } from "~/utils/getPostByPath";
import { getPostPath } from "~/utils/getPostPath";
import { parsePostDate } from "~/utils/parsePostDate";

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog");
  return posts.map(post => ({ params: { path: getPostPath(post) } }));
}) satisfies GetStaticPaths;

const post = await getPostByPath(Astro.params.path);

if (!post) {
  throw new Error(`Could not find post by path '${Astro.params.path}'`);
}

// TODO: view transitions in /blog/**

const [{ Content }, metaImage, postCategory, postAuthor] = await Promise.all([
  render(post),
  post.data.image &&
    getImage({ src: post.data.image, format: "jpeg", width: IMAGE_SIZES.Meta }),
  getDataEntry("category", post.data.categories.id),
  getDataEntry("authors", post.data.author.id)
]);
const postDate = parsePostDate(post.data.date);
const postEditDate =
  post.data.editedDate && parsePostDate(post.data.editedDate);

/** NOTE:
 * meta image url seems broken in dev (image uses original resolution),
 * but is correct in build.
 */
---

<BlogLayout
  title={post.data.title}
  description={post.data.description}
  image={metaImage?.src}
  imageLarge={!!metaImage}
  noRobots={post.data.draft}>
  <h1>{post.data.title}</h1>
  <Content />
  <footer>
    <b>Published:</b>{" "}
    <FormattedDate
      datetime={postDate.datetime}
      fallback={postDate.formatted}
      client:load
    />
    {
      postEditDate && (
        <>
          <br />
          <b>Updated:</b>{" "}
          <FormattedDate
            datetime={postEditDate.datetime}
            fallback={postEditDate.formatted}
            client:load
          />
        </>
      )
    }
    <br /><b>Author:</b>{" "}
    {
      postAuthor.data.fedi ? (
        <a
          href={`https://${postAuthor.data.fedi.instance}/@${postAuthor.data.fedi.user}`}>
          {postAuthor.data.name}
        </a>
      ) : (
        postAuthor.data.name
      )
    }
    <br /><b>Category:</b>{" "}
    <a href={`/blog/${postCategory.id}`}>
      {postCategory.data.title}
    </a>
  </footer>
</BlogLayout>

<style>
  footer {
    margin-top: 2rem;
    padding: 6px;
    font-family: var(--font-mono);
    font-size: 0.8rem;
    color: var(--primary);
    border: 1px solid var(--highlight);
    border-radius: var(--radius);
  }

  footer > b {
    color: var(--text);
  }
</style>
