code[class*="language-"],
pre[class*="language-"] {
  background-color: var(--theme-light, #fafafa) var(--theme-dark, #282c34);
  color: var(--theme-light, #383a42) var(--theme-dark, #abb2bf);
  text-shadow: 0px 1px #0000004d;
  font-family: var(--font-mono);
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  hyphens: none;
}

/* Selection */
code[class*="language-"]::selection,
code[class*="language-"] *::selection,
pre[class*="language-"] *::selection {
  background-color: var(--theme-light, #e5e5e6) var(--theme-dark, #3e4451);
  color: inherit;
  text-shadow: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0px;
  overflow: auto;
  border-radius: var(--radius);
}

/* Inline code blocks */
:not(pre) > code {
  background-color: var(--theme-light, #fafafa) var(--theme-dark, #282c34);
  padding: 0.2em 0.3em;
  border-radius: var(--radius);
  font-family: var(--font-mono);
  white-space: normal;
}

/* Print */
@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Token colours */
.token.comment,
.token.prolog,
.token.cdata {
  color: var(--theme-light, #a0a1a7) var(--theme-dark, #5c6370);
}

.token.doctype,
.token.punctuation,
.token.entity {
  color: var(--theme-light, #383a42) var(--theme-dark, #abb2bf);
}

.token.attr-name,
.token.class-name,
.token.boolean,
.token.constant,
.token.number,
.token.atrule {
  color: var(--theme-light, #b76b01) var(--theme-dark, #d19a66);
}

.token.keyword {
  color: var(--theme-light, #a626a4) var(--theme-dark, #c678dd);
}

.token.property,
.token.tag,
.token.symbol,
.token.deleted,
.token.important {
  color: var(--theme-light, #e45649) var(--theme-dark, #e06c75);
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.regex,
.token.attr-value,
.token.attr-value > .token.punctuation {
  color: var(--theme-light, #50a14f) var(--theme-dark, #98c379);
}

.token.variable,
.token.operator,
.token.function {
  color: var(--theme-light, #4078f2) var(--theme-dark, #61afef);
}

.token.url {
  color: var(--theme-light, #0184bc) var(--theme-dark, #56b6c2);
}
