:root {
  --transition: 200ms ease-out;
  --radius: 0.5rem;
  --radius-large: 1rem;
  --content-width: min(100vw, 800px);
  --page-padding: 0.2rem 1.25rem;

  /** Fonts **/
  --font-sans: "Noto Sans", sans-serif;
  --font-title: "Carlito", sans-serif;
  --font-mono: "JetBrains Mono Variable", monospace;

  /** Booleans! (see https://css-tricks.com/a-dry-approach-to-color-themes-in-css/) **/
  --TRUE: initial;
  --FALSE: ;

  /** Theme Colours **/
  --black: #070603;
  --shadow: var(--theme-light, #07060350) var(--theme-dark, #070603a0);
  --white: #fcfaf7;
  --text: var(--theme-light, var(--black)) var(--theme-dark, var(--white));
  --background: var(--theme-light, var(--white)) var(--theme-dark, #242424);
  --primary: #ff780a;
  --secondary: var(--theme-light, #ff5757) var(--theme-dark, #8a2e2e);
  --accent: var(--theme-light, #ff8945) var(--theme-dark, #ffbe8a);
  --highlight: var(--theme-light, var(--shadow)) var(--theme-dark, #fcfaf750);
}

/** set booleans for themes **/
:root,
:root[data-theme="light"] {
  --theme-light: var(--TRUE);
  --theme-dark: var(--FALSE);
}

:root[data-theme="dark"] {
  --theme-light: var(--FALSE);
  --theme-dark: var(--TRUE);
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-light: var(--FALSE);
    --theme-dark: var(--TRUE);
  }
}

@media (--mq-small) {
  :root {
    --page-padding: 0.25rem 1.75rem;
  }
}
