---
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Error 404 - Page not Found - Xenia Linux"
  description="This page could not be found"
  noRobots>
  <section>
    <h1>Error 404 - Page not Found</h1>
    <p>This page could not be found</p>
    <p><a href="/">Return to home</a></p>
  </section>
</BaseLayout>

<style>
  section {
    width: var(--content-width);
    margin: 0px auto;
  }
</style>
