---
import { getCollection } from "astro:content";
import screenshotGnome from "~/assets/gallery/gnome-001.png";
import screenshotGnomeApps from "~/assets/gallery/gnome-002.png";
import screenshotKDE from "~/assets/gallery/kde-001.png";
import CallToAction from "~/components/CallToAction.astro";
import type { GalleryImage } from "~/components/LandingGallery.astro";
import LandingGallery from "~/components/LandingGallery.astro";
import LandingHero from "~/components/LandingHero.astro";
import PostCard from "~/components/PostCard.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import { WIDTHS } from "~/types/sizes";
import { arrangeBlogPosts } from "~/utils/arrangeBlogPosts";

const allBlogPosts = await getCollection("blog");
const latestBlogPosts = arrangeBlogPosts(allBlogPosts, {
  showDrafts: false
}).slice(0, 2);

const metaDescription = "An immutable distribution based on Gentoo";
// NOTE: there need to be exactly 3 images for layout reasons (might fix later™)
const galleryImages: Array<GalleryImage> & { 0: GalleryImage; length: 3 } = [
  { image: screenshotGnome, alt: "Xenia Linux running Gnome" },
  {
    image: screenshotGnomeApps,
    alt: "Preinstalled Applications on Xenia Linux"
  },
  { image: screenshotKDE, alt: "Xenia Linux running KDE Plasma" }
];
---

<BaseLayout title="Xenia Linux" description={metaDescription}>
  <LandingHero description={metaDescription} />
  <LandingGallery gallery={galleryImages} />
  <section id="about" class="text-section">
    <h2>What is Xenia Linux?</h2>
    <div id="features">
      <section>
        <h3>Immutability</h3>
        <p>Xenia features a rock-solid, read-only root.</p>
      </section>
      <section>
        <h3>Multiple flavours</h3>
        <p>Switch between distros with just a reboot.</p>
      </section>
      <section>
        <h3>Multi-distro support</h3>
        <p>Use Gentoo and Arch as bases - or create your own custom ones!</p>
      </section>
      <section>
        <h3>Recovery mode</h3>
        <p>
          Access a full GUI when you need it, for system recovery or migrating
          disks.
        </p>
      </section>
    </div>
    <p>
      Xenia Linux is a Linux meta-distribution, that makes <i>any</i> distro immutable.
      It uses an image-based approach to immutablity which allows for upgrades and
      installations to be done in a matter of seconds. Xenia implements Distrobox
      to allow for users to get their favourite CLI tools, and Flatpak for GUI apps.
      Since Xenia Linux is built with Docker, users can easily make their own customised
      root images with any distro they like.
    </p>
  </section>
  <section class="text-section" style={{ width: WIDTHS.Blog.value }}>
    <h2>News and Previews</h2>
    {latestBlogPosts.map(post => <PostCard post={post} headingEl="h3" />)}
    <p><a href="/blog">Visit our blog</a></p>
  </section>
  <CallToAction>
    <h2>Ready to try Xenia Linux?</h2>
    <p>Get started today with a polished and stable Linux desktop.</p>
    <p>
      <a class="btn primary" href="https://install.xenialinux.com/"
        >Install Xenia Linux now</a
      >
      <a class="btn" href="https://wiki.xenialinux.com">Read the Docs</a>
    </p>
  </CallToAction>
</BaseLayout>

<style is:global>
  .btn {
    padding: 0.5rem 1ch;
    background-color: var(--secondary);
    border-radius: var(--radius-large);
    text-decoration: none;
    color: inherit;

    &.primary {
      background-color: var(--primary);
      color: var(--black) !important;
    }

    &:hover {
      box-shadow: 0px 3px 2px var(--shadow);
      color: inherit;
    }
  }

  #features {
    display: grid;
    --cols: 1;
    grid-template-columns: repeat(var(--cols), 1fr);
    gap: 1rem 1ch;
    text-align: center;

    @media (--mq-small) {
      --cols: 2;
    }

    @media (--mq-medium) {
      --cols: 4;
    }

    & section {
      position: relative;
      padding: 1rem;
      border-radius: var(--radius);
      background-image: linear-gradient(
        180deg,
        var(--primary),
        var(--secondary)
      );
      background-size: 100vw 100vh;
      background-attachment: fixed;

      &::before {
        content: "";
        background: var(--background);
        position: absolute;
        inset: 3px;
        border-radius: var(--radius);
        z-index: 0;
      }

      & > * {
        z-index: 1;
        position: relative;
      }
    }

    & h3 {
      color: var(--primary);
      font-size: 1.25rem;
      margin: 0.5rem 0;
    }
  }

  .text-section {
    width: 1200px;
    max-width: 100%;
    margin: 1.5rem auto;
    padding: var(--page-padding);

    & > h2 {
      width: max-content;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      color: var(--primary);
    }
  }
</style>
