---

---

<div class="cta-bg">
  <section id="cta" class="text-section"><slot /></section>
</div>

<style>
  .cta-bg {
    display: flex;
    background-image: url(../assets/waves.svg);
    background-size: 100% auto;
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  #cta {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 5em;
    padding-bottom: 5em;
    max-width: 90%;
    border: 1px solid var(--secondary);
    border-radius: var(--radius-large);
    background-color: var(--theme-light, #ffffff50)
      var(--theme-dark, var(--shadow));
    backdrop-filter: blur(12px);
    text-align: center;

    & :global(h2) {
      font-size: 2rem;
      margin: 0px 2ch;
      @media (--mq-small) {
        font-size: 2.5rem;
      }
      @media (--mq-medium) {
        font-size: 3.5rem;
      }
    }

    & :global(p) {
      margin: 0px;
    }

    & :global(a.btn) {
      display: inline-block;
      margin: 0.5rem 1ch;
      white-space: nowrap;
    }

    & *:last-child {
      margin-bottom: 0px;
    }
  }
</style>
