---
import type { ImageMetadata } from "astro";
import { IMAGE_SIZES } from "~/types/sizes";
import { ImageModal } from "./ImageModal";
import Picture from "./Picture.astro";

interface Props {
  /**
   *  image imported from ~/assets/
   */
  image: ImageMetadata;
  /**
   * Alt text and caption for image
   */
  caption: string;
  /**
   * Hide alt text from caption (use with slot)
   */
  hideAlt?: boolean;
}
---

<figure>
  <ImageModal
    src={Astro.props.image.src}
    width={Astro.props.image.width}
    height={Astro.props.image.height}
    alt={Astro.props.caption}
    client:load>
    <Picture
      image={Astro.props.image}
      alt={Astro.props.caption}
      width={IMAGE_SIZES.Figure}
    />
  </ImageModal>
  <figcaption>
    {!Astro.props.hideAlt && Astro.props.caption}
    <slot />
  </figcaption>
</figure>

<style>
  figure {
    padding: 6px;
    max-width: 100%;
    border: 1px solid var(--highlight);
    border-radius: var(--radius);
    text-align: center;

    & :global(img) {
      border-radius: var(--radius);
    }
  }
</style>
