<footer>
  <div class="grid">
    <section>
      <h2>Xenia Group</h2>
      <ul>
        <li><a href="/">Website</a></li>
        <li>
          <a href="/blog">Blog</a> (<a href="/feeds/rss.xml">RSS Feed</a>)
        </li>
        <li>
          <a href="mailto:contact@xenialinux.com">Contact (Email)</a>
        </li>
      </ul>
    </section>
    <section>
      <h2>Xenia Linux</h2>
      <ul>
        <li><a href="https://wiki.xenialinux.com">Documentation</a></li>
        <li><a href="https://repo.xenialinux.com">Repository</a></li>
        <li>
          <a
            href="https://gitlab.com/xenia-group/xenia-linux"
            target="_blank"
            rel="noopener noreferrer">Gitlab</a
          >
        </li>
      </ul>
    </section>
    <section>
      <h2>Support Us</h2>
      <ul>
        <li>
          <a
            href="https://ko-fi.com/xenialinux"
            target="_blank"
            rel="noopener noreferrer">Kofi</a
          >
        </li>
        <li>
          <a
            href="https://liberapay.com/xenialinux/"
            target="_blank"
            rel="noopener noreferrer">Liberapay</a
          >
        </li>
      </ul>
    </section>
    <section>
      <h2>Socials</h2>
      <ul>
        <li>
          <a
            href="https://fosstodon.org/@xenia"
            target="_blank"
            rel="noopener noreferrer me">Mastodon</a
          >
        </li>
        <li>
          <a
            href="https://discord.gg/3CWvFxtMRq"
            target="_blank"
            rel="noopener noreferrer">Discord Server</a
          >
        </li>
      </ul>
    </section>
  </div>
</footer>

<style>
  footer {
    border-top: 1px solid var(--highlight);
  }

  div.grid {
    width: var(--content-width);
    margin: 1.5rem auto;
    padding: var(--page-padding);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;

    @media (--mq-small) {
      margin: 2rem auto;
    }

    @media (--mq-medium) {
      margin: 2.5rem auto;
    }

    & a {
      color: var(--text);

      &:hover,
      &:focus {
        color: var(--accent);
      }
    }

    & > section {
      flex-basis: min(100%, 180px);

      & h2 {
        color: var(--primary);
        font-size: 1.25rem;
      }

      & ul {
        margin: 0.5rem;
        padding: 0px;
        list-style: none;

        & li {
          padding: 0.25rem 0px;
        }
      }
    }
  }
</style>
