---
import { IconXenia } from "./IconXenia";
import { ThemeSelector } from "./ThemeSelector";
---

<header>
  <div class="inner">
    <div class="title">
      <a href="/" aria-label="Home">
        <IconXenia width="1.25em" height="1.25em" title="Home" />
      </a>
      <span>Xenia Linux</span>
    </div>
    <ThemeSelector client:only="preact" />
  </div>
</header>

<style>
  header {
    border-bottom: 1px solid var(--highlight);

    & div.inner {
      width: var(--content-width);
      margin: 0px auto;
      padding: var(--page-padding);
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    & div.title {
      font-size: 1.5rem;
      margin: 0.75em 0px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      gap: 0.5ch;

      & a {
        display: block;
        width: 1.25em;
        height: 1.25em;
      }

      @media (--mq-small) {
        font-size: 2rem;
      }
    }
  }
</style>
