.link {
  cursor: zoom-in;
}

.close {
  position: fixed;
  top: 12px;
  right: 12px;
  padding: 6px;
  background-color: var(--background);
  color: var(--text);
  border: 1px solid var(--primary);
  border-radius: var(--radius);
  transition: all var(--transition);

  &:hover,
  &:focus,
  &:active {
    color: var(--accent);
    border-color: var(--accent);
  }

  & svg {
    width: 1.25rem;
    height: 1.25rem;
    display: block;
  }
}

.wrapper {
  width: 90%;
  height: 90%;
}

.img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}
