---
import { IconXenia } from "./IconXenia";

interface Props {
  description: string;
}
---

<section id="hero">
  <aside><IconXenia /></aside>
  <div class="hero__main">
    <h1>Xenia Linux</h1>
    <p>{Astro.props.description}</p>
    <a class="btn primary" href="https://install.xenialinux.com/">Get Started</a
    >
    <a class="btn" href="#about">Learn More</a>
  </div>
</section>

<style>
  #hero {
    display: flex;
    flex-flow: column nowrap;
    width: var(--content-width);
    max-width: 100%;
    margin: auto;
    min-height: 50vh;

    & div {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 2rem;
      height: 100%;
      padding: var(--page-padding);

      & > * {
        margin-top: 0px;
        margin-bottom: 0px;
      }

      & h1 {
        margin: 0px;
        font-size: 3rem;
      }

      & a {
        min-width: 50%;
      }

      @media (--mq-small) {
        & p {
          font-size: 1.33rem;
        }
      }
    }

    & aside {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      & :global(svg) {
        width: auto;
        height: min(calc(85vw - 5rem), 20vh);
      }
    }

    @media (--mq-medium) {
      flex-flow: row-reverse nowrap;
      align-items: center;
      min-height: unset;
      height: 50vh;
      max-height: 450px;

      & div {
        flex-basis: 60%;
        width: 60%;
      }
      & aside {
        flex-basis: 40%;
        width: 40%;
        & :global(svg) {
          width: 100%;
          max-width: 250px;
          height: auto;
        }
      }
    }
  }
</style>
