---
import { IMAGE_SIZES } from "~/types/sizes";
import { ImageModal } from "./ImageModal";
import Picture from "./Picture.astro";

export interface GalleryImage {
  image: ImageMetadata;
  alt: string;
}

interface Props {
  gallery: Array<GalleryImage> & { 0: GalleryImage; length: 3 };
}
---

<section id="gallery">
  <div>
    {
      Astro.props.gallery.map(galleryImage => (
        <ImageModal
          src={galleryImage.image.src}
          width={galleryImage.image.width}
          height={galleryImage.image.height}
          alt={galleryImage.alt}
          client:load>
          <Picture
            alt={galleryImage.alt}
            image={galleryImage.image}
            width={IMAGE_SIZES.Figure}
          />
        </ImageModal>
      ))
    }
  </div>
</section>

<style>
  section {
    background-color: var(--secondary);
    padding: 1rem;
    max-height: 20rem;
    margin: 1.5rem 0px;

    @media (--mq-small) {
      padding: 1.5rem;
    }

    @media (--mq-medium) {
      padding: 2.5rem;
    }
  }

  div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: var(--page-padding);
    max-width: 1200px;
    margin: 0px auto;

    & :global(a) {
      display: block;
      width: 25%;
      height: 100%;
    }

    & :global(picture),
    & :global(img) {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
</style>
