---
interface Segment {
  title: string;
  url: string;
}

const segmentsRaw = Astro.url.pathname.split("/");
const segments: Segment[] = [{ title: "~", url: "/" }];

for (let i = 1; i < segmentsRaw.length; i++) {
  // check if it's a blog post url
  if (/^\d{4}\/\d{2}\/\d{2}\//.test(segmentsRaw.slice(i).join("/"))) {
    segments.push({
      title: segmentsRaw.slice(i + 3).join("/"),
      url: Astro.url.pathname
    });
    break;
  }

  segments.push({
    title: segmentsRaw[i],
    url: segmentsRaw.slice(0, i + 1).join("/")
  });
}
---

<nav>
  {segments.map(segment => <a href={segment.url}>{segment.title}</a>)}
</nav>

<style>
  nav {
    display: flex;
    flex-flow: row nowrap;
    max-width: 100%;
    min-width: 0px;
  }

  a {
    font-family: var(--font-mono);
    padding: 0.25rem 0.5ch;
    text-decoration: none;

    &:not(:first-of-type) {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &:first-of-type {
      background-color: var(--theme-light, var(--black))
        var(--theme-dark, var(--white));
      padding-right: 2ch;
      clip-path: polygon(
        calc(100% - 1.5ch) 0,
        100% 50%,
        calc(100% - 1.5ch) 100%,
        0 100%,
        0 0
      );
    }

    &:nth-of-type(2) {
      background-color: var(--primary);
      color: var(--black);
      padding: 0.25rem 2ch;
      clip-path: polygon(
        0 0,
        calc(100% - 1.5ch) 0%,
        100% 50%,
        calc(100% - 1.5ch) 100%,
        0 100%,
        1.5ch 50%
      );
      margin-left: -1.52ch;
    }

    &:nth-of-type(n + 4)::before {
      content: "/ ";
      color: var(--primary);
    }
  }
</style>
