---
import type { ImageMetadata } from "astro";
import { getImage } from "astro:assets";

interface Props {
  /**
   *  image imported from ~/assets/
   */
  image: ImageMetadata;
  /**
   * Alt text for image
   */
  alt: string;
  /**
   * Target width (must be smaller than original width)
   */
  width?: number;
}

const origFormat = Astro.props.image.format;
const origContentType = `image/${origFormat === "jpg" ? "jpeg" : origFormat}`;
const width = Astro.props.width
  ? Math.min(Astro.props.width, Astro.props.image.width)
  : Astro.props.image.width;
const [image, imageFallback] = await Promise.all([
  getImage({
    src: Astro.props.image,
    width: width,
    format: "avif"
  }),
  getImage({
    src: Astro.props.image,
    width: width,
    format: origFormat
  })
]);
---

<picture>
  <source type="image/avif" srcset={image.src} />
  <source type={origContentType} srcset={imageFallback.src} />
  <img
    src={imageFallback.src}
    width={image.rawOptions.width}
    height={image.rawOptions.height}
    alt={Astro.props.alt}
  />
</picture>

<style>
  picture,
  img {
    max-width: 100%;
    height: auto;
  }
</style>
