---
import type { CollectionEntry } from "astro:content";
import { IMAGE_SIZES } from "~/types/sizes";
import { getDataEntry } from "~/utils/getDataEntry";
import { getPostPath } from "~/utils/getPostPath";
import { parsePostDate } from "~/utils/parsePostDate";
import { FormattedDate } from "./FormattedDate";
import Picture from "./Picture.astro";

interface Props {
  post: CollectionEntry<"blog">;
  headingEl?: `h${2 | 3 | 4}`;
}

const Heading = Astro.props.headingEl || ("h2" as const);
const [category, author] = await Promise.all([
  getDataEntry("category", Astro.props.post.data.categories.id),
  getDataEntry("authors", Astro.props.post.data.author.id)
]);

const path = getPostPath(Astro.props.post);
const parsedDate = parsePostDate(Astro.props.post.data.date);
const sFormat = "{month-short} {date-ordinal}, {year}";
const fallback = parsedDate.s.format(sFormat);
---

<article class:list={{ "with-thumb": !!Astro.props.post.data.image }}>
  <header>
    <Heading class="heading">
      <a href={`/blog/${path}`}>
        {Astro.props.post.data.title}
      </a>
    </Heading>
  </header>
  {
    Astro.props.post.data.image && (
      <aside>
        <Picture
          image={Astro.props.post.data.image}
          alt={Astro.props.post.data.title}
          width={IMAGE_SIZES.Thumbnail}
        />
      </aside>
    )
  }
  <main>
    <p>{Astro.props.post.data.description}</p>
    <small>
      <a href={`/blog/${category.id}`}>{category.data.title}</a>
      <FormattedDate
        fallback={fallback}
        datetime={parsedDate.datetime}
        format={sFormat}
        client:load
      />
      <span>{author.data.name}</span>
    </small>
  </main>
</article>

<style>
  article {
    display: grid;
    border: 1px solid var(--highlight);
    border-radius: var(--radius);
    margin: 1.5rem 0px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  p,
  small {
    margin: 1rem;
  }

  header .heading {
    display: block;
    border-bottom: 1px solid var(--highlight);
    padding: 1rem;
    margin: 0px;
    font-size: 1.5rem;
  }

  small {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;

    @media (--mq-small) {
      flex-flow: row nowrap;
    }
  }

  aside {
    display: flex;
    justify-content: center;
    align-items: center;

    & :global(img),
    & :global(picture) {
      max-width: 100%;
      height: auto;
    }
  }

  @media (--mq-medium) {
    article.with-thumb {
      grid-template-columns: 150px auto;
      & aside {
        grid-row: 1 / span 2;
        grid-column: 1 / span 1;
        border-right: 1px solid var(--highlight);
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
        overflow: hidden;

        & :global(img),
        & :global(picture) {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
</style>
