---
import "~/styles/main.css";
import Footer from "~/components/Footer.astro";
import Header from "~/components/Header.astro";
import type { PageMeta } from "~/types/meta";
import Document from "./Document.astro";

type Props = PageMeta;
---

<Document {...Astro.props}>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
  <dialog id="modal-dialog"></dialog>
</Document>
