---
import type { CollectionEntry } from "astro:content";
import PostCard from "~/components/PostCard.astro";
import type { PageMeta } from "~/types/meta";
import BlogLayout from "./BlogLayout.astro";

interface Props extends PageMeta {
  /**
   * Set to display different title above list
   */
  displayTitle?: string;
  posts: CollectionEntry<"blog">[];
}

const { displayTitle, posts, ...layoutProps } = Astro.props;
---

<BlogLayout {...layoutProps}>
  <h1>{displayTitle || Astro.props.title}</h1>
  <p>{Astro.props.description}</p>
  <slot name="top" />
  {posts.map(post => <PostCard post={post} />)}
  <slot name="bottom" />
</BlogLayout>
