---
import "~/styles/prism.css";
import NavBar from "~/components/NavBar.astro";
import type { PageMeta } from "~/types/meta";
import BaseLayout from "./BaseLayout.astro";

type Props = PageMeta;
---

<BaseLayout {...Astro.props}>
  <NavBar />
  <slot />
</BaseLayout>

<style is:global>
  body > main {
    width: var(--content-width);
    margin: 1.5rem auto;
    padding: var(--page-padding);

    & table {
      min-width: 40%;
      margin: auto;
      border: 1px solid var(--highlight);
      border-radius: var(--radius);
    }

    & blockquote {
      margin: 1rem;
      margin-left: 0.5rem;
      padding-left: 1.25rem;
      border-left: 4px solid var(--highlight);
    }

    & hr {
      width: 90%;
      margin: auto;
      border: 0px;
      border-top: 2px solid var(--highlight);
    }
  }
</style>
