---
import "@fontsource-variable/jetbrains-mono";
import "@fontsource/noto-sans";
import "@fontsource/carlito/700.css";
import "~/styles/theme.css";
import type { PageMeta } from "~/types/meta";

type Props = PageMeta;
const pageIcon = `${Astro.url.origin}/assets/icons/icon-192.png`;
const image = Astro.props.image
  ? `${Astro.url.origin}${Astro.props.image.startsWith("/") ? "" : "/"}${
      Astro.props.image
    }`
  : pageIcon;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/assets/icons/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="me" href="https://fosstodon.org/@xenia" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for Xenia Linux Blog"
      href="/feeds/rss.xml"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="application-name" content="Xenia Linux" />
    <meta property="og:site_name" content="Xenia Linux" />
    {Astro.props.noRobots && <meta name="robots" content="noindex" />}
    <link rel="canonical" href={Astro.url.href} />
    <title>{Astro.props.title}</title>
    <meta property="og:title" content={Astro.props.title} />
    <meta name="twitter:title" content={Astro.props.title} />
    <meta name="description" content={Astro.props.description} />
    <meta property="og:description" content={Astro.props.description} />
    <meta name="twitter:description" content={Astro.props.description} />
    <meta property="og:image" content={image} />
    <meta name="twitter:image" content={image} />
    {
      Astro.props.image && Astro.props.imageLarge && (
        <meta name="twitter:card" content="summary_large_image" />
      )
    }
    <meta name="theme-color" content="#ff780a" />
  </head>
  <body>
    <slot />
    <script>
      import { initTheme } from "~/utils/initTheme";
      import { attachDialogCloseEvent } from "~/utils/dialogBackdrop";

      initTheme();
      attachDialogCloseEvent();
    </script>
  </body>
</html>
